<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.salmi.bouchelaghem.studynet">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Studynet">
        <activity android:name="com.salmi.bouchelaghem.studynet.Activities.SplashActivity">
        </activity>
        <activity android:name="com.salmi.bouchelaghem.studynet.Activities.OnboardingActivity" />
        <activity android:name="com.salmi.bouchelaghem.studynet.Activities.AddHomeworkActivity" />
        <activity android:name="com.salmi.bouchelaghem.studynet.Activities.HomeworkDetailsActivity" />
        <activity android:name="com.salmi.bouchelaghem.studynet.Activities.AddClassActivity" />
        <activity android:name="com.salmi.bouchelaghem.studynet.Activities.ClassDetailsActivity" />
        <activity android:name="com.salmi.bouchelaghem.studynet.Activities.NavigationActivity" />
        <activity android:name="com.salmi.bouchelaghem.studynet.Activities.ResetPasswordActivity" />
        <activity android:name="com.salmi.bouchelaghem.studynet.Activities.SignUpActivity" />
        <activity android:name="com.salmi.bouchelaghem.studynet.Activities.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>